vim-actionscript
vim-solarized
vim-fugitive
vim-fswitch
vim-protodef
vim-unimpaired
vim-scala
vim-easymotion
vim-twitvim
vim-rim
vim-xptemplate
vim-fuzzyfinder
vim-l9
vim-nerdtree
vim-surround
vim-gnupg
vim-blogit
vim-gundo
vim-async
vim-ensime
vim-json
vim-signs
vim-mwutils
vim-completion
vim-orgmode
vim-javascript
vim-conque
vim-jade
*.swp
.netrwhist
passwords.vim
