ensime
vim-actionscript
vim-async
vim-blogit
vim-command-t
vim-completion
vim-conque
vim-ctrlp
vim-easymotion
vim-ensime
vim-forms
vim-fswitch
vim-fugitive
vim-fuzzyfinder
vim-gnupg
vim-gundo
vim-jade
vim-javascript
vim-jellybeans
vim-json
vim-l9
vim-mwutils
vim-nerdtree
vim-orgmode
vim-powerline
vim-protodef
vim-rim
vim-sbt
vim-scala
vim-self
vim-signs
vim-solarized
vim-surround
vim-twitvim
vim-unimpaired
vim-vimproc
vim-vimshell
vim-vimside
vim-xptemplate
