ensime
vim-actionscript
vim-ag
vim-async
vim-autotags
vim-blogit
vim-bufkill
vim-command-t
vim-completion
vim-conque
vim-ctrlp
vim-dfrankutil
vim-easyalign
vim-easymotion
vim-ensime
vim-forms
vim-fswitch
vim-fugitive
vim-fuzzyfinder
vim-gnupg
vim-gundo
vim-indexer
vim-jade
vim-javascript
vim-jellybeans
vim-json
vim-l9
vim-machine-specific
vim-metafuz
vim-mwutils
vim-nerdtree
vim-orgmode
vim-powerline
vim-protodef
vim-rim
vim-sbt
vim-sbtquickfix
vim-scala
vim-self
vim-signs
vim-solarized
vim-surround
vim-tabular
vim-twitvim
vim-unimpaired
vim-vimprj
vim-vimproc
vim-vimshell
vim-vimside
vim-visincr
vim-xptemplate
